.wrapper {
  position: absolute;
  bottom: -490px;
  left: 50%;
  transform: translateX(-50%);
  width: 850px;
  height: 850px;
  z-index: 20;
  overflow: hidden;   /* prevent outside */
}

.wheel {
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotateWheel 50s linear infinite;
}

@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.badgeInner {
    color: #fff;
    background: #86654e38;
    border: 1px solid #fff6;
    border-radius: 50px;
    justify-content: left;
    align-items: center;
    width: 165px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    transform: rotate(180deg);
    box-shadow: 0 8px 20px #00000026;
    padding-left: 14px;
}

@media only screen and (max-width:600px){
  .wrapper {
  bottom: -500px;
  width: 350px;
  
}
}
@media only screen and (min-width:1200px) and (max-width:1600px){
  .wrapper {
    bottom: -505px !important;
}
}