.popularSection {
  background: #E9E4DF;
  padding: 80px 0;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
     color: #000;
    font-size: 18px;
    font-weight: 400;
}

.imageWrapper img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
 background: #e9e4df;
 border-radius: 14px;
 padding: 20px 30px;
 transition: all .3s ease;
 box-shadow: 0 4px 12px #949393b8;
 cursor: pointer;
}

/* Hover Effect Added */
.card:hover {
 background: transparent;
    transform: none;
    box-shadow: 0 12px 25px #00000026;
    border: 1px solid #354B5E;
}

/* Active card (jab hover ho) */
.card.active {
  background: #fff;
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.card h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card p {
  font-size: 18px;
  color: #000000;
  margin: 0;
}


/* Responsive */

@media (max-width: 991px) {
  .title {
    font-size: 28px;
  }

  .popularSection {
    padding: 60px 0;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }

  .card {
    padding: 16px;
  }
}